working with json

In [1]:
import pandas as pd

In [3]:
df = pd.read_json("train.json")
df

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [4]:
x = pd.read_json("https://raw.githubusercontent.com/json-iterator/test-data/master/large-file.json")

In [5]:
x

,id,type,actor,repo,payload,public,created_at,org
0,2489651045,CreateEvent,"{'id': 665991, 'login': 'petroav', 'gravatar_i...","{'id': 28688495, 'name': 'petroav/6.828', 'url...","{'ref': 'master', 'ref_type': 'branch', 'maste...",True,2015-01-01 15:00:00+00:00,NaN
1,2489651051,PushEvent,"{'id': 3854017, 'login': 'rspt', 'gravatar_id'...","{'id': 28671719, 'name': 'rspt/rspt-theme', 'u...","{'push_id': 536863970, 'size': 1, 'distinct_si...",True,2015-01-01 15:00:01+00:00,NaN
2,2489651053,PushEvent,"{'id': 6339799, 'login': 'izuzero', 'gravatar_...","{'id': 28270952, 'name': 'izuzero/xe-module-aj...","{'push_id': 536863972, 'size': 1, 'distinct_si...",True,2015-01-01 15:00:01+00:00,NaN
3,2489651057,WatchEvent,"{'id': 6894991, 'login': 'SametSisartenep', 'g...","{'id': 2871998, 'name': 'visionmedia/debug', '...",{'action': 'started'},True,2015-01-01 15:00:03+00:00,"{'id': 9285252, 'login': 'visionmedia', 'grava..."
4,2489651062,PushEvent,"{'id': 485033, 'login': 'winterbe', 'gravatar_...","{'id': 28593843, 'name': 'winterbe/streamjs', ...","{'push_id': 536863975, 'size': 1, 'distinct_si...",True,2015-01-01 15:00:03+00:00,NaN
...,...,...,...,...,...,...,...,...
11346,2489678838,IssuesEvent,"{'id': 1105372, 'login': 'ophian', 'gravatar_i...","{'id': 2627116, 'name': 's9y/Serendipity', 'ur...","{'action': 'closed', 'issue': {'url': 'https:/...",True,2015-01-01 15:59:59+00:00,"{'id': 1104713, 'login': 's9y', 'gravatar_id':..."
11347,2489678840,IssuesEvent,"{'id': 9343331, 'login': 'No-CQRT', 'gravatar_...","{'id': 25600089, 'name': 'No-CQRT/GooGuns', 'u...","{'action': 'opened', 'issue': {'url': 'https:/...",True,2015-01-01 15:59:59+00:00,NaN
11348,2489678842,DeleteEvent,"{'id': 2057932, 'login': 'LipkeGu', 'gravatar_...","{'id': 24847217, 'name': 'LipkeGu/OpenRA', 'ur...","{'ref': 'keep_source_clean', 'ref_type': 'bran...",True,2015-01-01 15:59:59+00:00,NaN
11349,2489678843,IssuesEvent,"{'id': 9343331, 'login': 'No-CQRT', 'gravatar_...","{'id': 25600089, 'name': 'No-CQRT/GooGuns', 'u...","{'action': 'opened', 'issue': {'url': 'https:/...",True,2015-01-01 15:59:59+00:00,NaN
11350,2489678844,IssuesEvent,"{'id': 9343331, 'login': 'No-CQRT', 'gravatar_...","{'id': 25600089, 'name': 'No-CQRT/GooGuns', 'u...","{'action': 'opened', 'issue': {'url': 'https:/...",True,2015-01-01 15:59:59+00:00,NaN

working with sql

In [8]:
import mysql.connector
conn = mysql.connector.connect(host="localhost",user="root",password="",database="world")

In [10]:
df=pd.read_sql_query("select * from city",conn)

C:\Users\HEET BHATT\AppData\Local\Temp\ipykernel_2208\2870348371.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query("select * from city",conn)

In [11]:
df

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]